html, body{
    background-color: violet;
}






.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8em;
    align-items: center;
    /* this is aqua bc its overriding the pink */
    background-color: aquamarine;
}

.left-section, .middle-section, .right-section {
    margin: .5em .5em .5em .5em;
}


.hamburger-icon {
    height: 2em;
}

.store-logo {
    height: 6em;
}

.middle-section {
    align-items: center;
    justify-content: space-between;
    flex: 1;
    min-width: 22em;
}

.search-bar {
    height: 2em;
    width: 500px;
    flex: 1;
    padding-bottom: 2px;
}

.search-icon {
    height: 1.8em;
}

.search-button {
    height: 2em;
    margin-left: -.4em;
    border-radius: 4px;
}









main {
    
}

.main-body-heading {
    text-align: center;
}


#shopnow{
    position: relative;
    top: 5em;
    left: 40em;

}
.home-page-pic{
    width: 100%;
}









.footer {
    display: block;
    justify-content: space-between;
    margin-bottom: 0%;
}

.follow-us {
    text-align: center;
    margin-left: 1em;
}

ul.link-list li {
    display: inline;
    margin: .25em;
}

.link-list {
    text-align: center;
}

.fb-icon, .insta-icon, .twit-icon, .youtube-icon, .reddit-icon {
    height: 2em;
    cursor: pointer;
}

.footer-copyright {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}