.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8em;
    border: 3px dashed black;
    align-items: center;
}

.left-section, .middle-section, .right-section {
    margin: .5em .5em .5em .5em;
}

.left-section {
}

.hamburger-icon {
    height: 2em;
}

.store-logo {
    height: 6em;
}

.middle-section {
    align-items: center;
    justify-content: space-between;
    background-color: pink;
    flex: 1;
    min-width: 22em;
}

.search-bar {
    height: 2em;
    width: 300px;
    flex: 1;
}

.search-icon {
    height: 1.8em;
}

.search-button {
    height: 2.1em;
    margin-left: -.4em;
    
}









main {
    background-color: violet;
}

.main-body-heading {
    text-align: center;
}











.footer {
    display: block;
    justify-content: space-between;
    background-color: cyan;
    margin-left: 1em;
    margin-right: 1em;
}

.follow-us {
    text-align: center;
}

ul.link-list li {
    display: inline;
}

.link-list {
    text-align: center;
}

.fb-icon, .insta-icon, .twit-icon, .youtube-icon, .reddit-icon {
    height: 2em;
    cursor: pointer;
}

.footer-copyright {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}