html,
body {
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8em;
  align-items: center;
}



.left-section,
.middle-section,
.right-section {
  margin: 0.5em 0.5em 0.5em 0.5em;
}

.left-section {
  background-color: red;
}

.hamburger-icon {
  height: 2em;
}

.logo {
  height: 4em;
}

.logo-bigger {
    height: 8em;
    margin: 2em 0 0 5em
  }

.middle-section {
  align-items: center;
  justify-content: space-between;
  flex: 1;
  min-width: 22em;
}

.search-bar {
  height: 2em;
  flex: 1;
  padding-bottom: 2px;
  text-align: center;
  width: 85%;
}

.search-icon {
  height: 1.8em;
}

.search-button {
  height: 2em;
  margin-left: -0.4em;
  border-radius: 4px;
}

.mountain-bg {
  background: url(/images/mountains2.jpeg) no-repeat center / cover fixed;
  margin-bottom: 1em;
  height: 100%;
}


.text-background-grey {
    background-color: rgba(10, 11, 63, 0.563);
    border-radius: 10px;
    color: white;
}

.footer {
  display: block;
  justify-content: space-between;

}

.follow-us {
  text-align: center;
  margin-left: 1em;
}

ul.link-list li {
  display: inline;
  margin: 0.25em;
}

.link-list {
  text-align: center;
}

.fb-icon,
.insta-icon,
.twit-icon,
.youtube-icon,
.reddit-icon {
  height: 2em;
  cursor: pointer;
}

.footer-copyright {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.tos-pp {
    text-align: center;
    margin-top: -2.5em;
}

.prod-list {
  color: white;
  font-size: larger;
}

